#second-paragraph {
	color: yellow;
	background: red;
	/*margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 50px;
	margin-left: 30px;*/
	/*margin: 20px 10px 50px 30px;*/
	margin: 20px 50px;
	width: 100px;
	margin: 20px auto;
}
.blue-with-border {
	color: white;
	background: blue;
	border: 2px dotted blue;
}